style.css
p{
    text-align: center;
}
body {
    background: #CCCCCC
    }

    em strong{
        color: #ff0000;
    }
    . itens {
        font-style: italic;
    }
    .beneficios {
background:#ffffff;
    }
